:root {
  --color0: #eb8249;
  --color1: #fdd5ac;
  --color2: #c49d8f;
  --color5: #9f7b6e;
  --color6: #b25975;
  --color3: #a0ada2;
  --color4: #616a6d;
  --color7: #dccfa6;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--color1);
  margin: 0 !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 0;
}

nav {
  transition: all 0.3s;
}

nav.scrolled {
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--color4);
  font-weight: bold;
}

nav a.active {
  color: var(--color3);
}

section {
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

#section1::before,
#section1::after {
  content: "";
  background-image: url(../img/background_new.png);
  background-position: center;
  width: 110%;
  height: 110%;
  display: block;
  position: absolute;
  top: -5%;
  left: -5%;
}
/* the blurred image */
#section1::before {
  background-repeat: repeat;
  filter: blur(20px);
  background-size: 120%;
}
/* the clear image */
#section1::after {
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
#section1 {
  background-image: url("../img/background_new.png");
}

#section2 {
  background: var(--color4);
  min-height: auto;
  padding: 3rem 0;
  margin: 0 auto;
}

#section3 {
  background-image: url("../img/section.png");
}
.card {
  width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

p,
a {
  font-size: 1rem;
}

a {
  color: #4d4ae8;
  text-decoration: none;
}
.card {
  /* other styles */
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  border: 1.5px solid rgba(255, 255, 255, 0.06);
}

.card.bot {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: calc(50% - 232px);
  text-align: justify;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.home h1,
h2,
.card h3 {
  text-transform: uppercase;
  text-align: center;
}

.home h1 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding-left: 25px;
  margin-block-start: 5px !important;
}

.home h2 {
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 4px;
  padding-left: 25px;
  color: #f5e5ce;
}

.home h3 {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  padding-left: 10px;
  color: #f5e5ce;
}

.home span {
  font-size: 0.7rem;
  font-weight: 100;
  line-height: 20px;
  display: inline-block;
  color: #fdd5ac;
}

.stripe-button {
  border: 1px solid white;
  border-radius: 15px;
  padding: 7px 15px;
  background: #d29e78;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 25px;
}
.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
